// here we can customize our color for bootstrap +_+
$primary: rgb(47, 110, 73);
@import "~bootstrap/scss/bootstrap";

body {
  font-family: "Lato", black;
}

header {
  .HeaderBg {
    background-image: url("../assets/images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 462px;
    position: relative;
  }
  .card {
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    img {
      width: 1rem;
      height: 1rem;
    }
  }
  @media (max-width: 576px) {
    .card {
      top: 7rem;
    }
    .HeaderBg {
      height: 10rem;
    }
  }
}
.mainPage {
  @media (max-width: 576px) {
    position: relative;
    top: 18rem;
  }

  .properties {
    .card {
      border: none;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .booking {
    .card-body {
      font-size: 16px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          padding: 0em 0 0px 30px;
          background-image: url("../assets/icons/icon-check.svg");
          background-repeat: no-repeat;
          background-position: left;
        }
      }
    }
  }
  .guides {
    .card {
      border: none;
      margin: 10px;
      background-color: rgba(47, 110, 73, 0.07);
      .card-body {
        align-self: center;
        .card-img-top {
          width: 100%;
          object-fit: cover;
          height: 161px;
          position: relative;
        }
        .free {
          position: absolute;
          // top: 1.8rem;
          // left: 25px;
          font-size: 12px;
          background-color: rgb(245, 210, 72);
        }
        .downloadLink {
          border-bottom: 2px solid rgb(245, 210, 72);
        }
      }
    }
  }
}
